main {
    background-color: green;
}

.menu-options {
    display: flex;
    align-items: center;
    justify-content: space-between;
}

#about {
    padding-left: 20px;
}

#store {
    padding-left: 20px;
}

#images {
    padding-left: 20px;
    margin-left: auto;
}

#gmail {
    padding-left: 20px;
}

.tags-menu {
    font-family: Arial, Helvetica, sans-serif;
    color: #222222;
    text-decoration: none;
}

div.nav-links {
    background-color: magenta;
}


#profile {
    height: 40px;
    width: 40px;
    padding-left: 20px;
    padding-right: 20px;
}

#apps {
    height: 20px;
    width: 20px;
    padding-left: 20px;
}

a:hover {
    text-decoration: underline;
}
