body {
    font-size: 14px;
    font-family: Arial, Helvetica, sans-serif;
    color: #222;
}

#page-wrap {
    min-height: 100vh;
    display: flex;
    flex-direction: column;
}

.menu-options {
    display: flex;
    align-items: center;
    justify-content: space-between;
}

#about {
    padding-left: 20px;
}

#store {
    padding-left: 20px;
}

#images {
    font-size: 13px;
    padding-left: 20px;
    margin-left: auto;
}

#gmail {
    font-size: 13px;
    padding-left: 20px;
}

div.nav-links {
    background-color: magenta;
}

#profile {
    height: 40px;
    width: 40px;
    padding: 10px 15px 0 20px;
}

#apps {
    height: 20px;
    width: 20px;
    padding-left: 20px;
}

a {
    text-decoration: none;
    color: #222;
}

a:hover {
    text-decoration: underline;
}

.main-wrap {
    display: flex;
    flex-direction: column;
    align-items: center;
    flex: 1;
}

.center-main {
    align-self: center;
    padding-top: 123px;
}

.logo {
    height: 91px;
    width: 272px;
    max-width: 100%;
    display: block;
    margin: auto;
}

#text {
    font-family: FontAwesome;
    font-size: 16px;
    width: 584px;
    height: 44px;
    border: 1px solid #dfe1e5;
    border-radius: 24px;
}

#text::placeholder {
    padding-left: 10px;
    color: #c4c4c5;
    font-weight: lighter;
}

#text:hover {
    box-shadow: 0 0 5px #dfe1e5;
}

.voice-search {
    border: none;
    background: none;
    padding: 0;
    cursor: pointer;
}

#microphone {
    width: 20px;
    height: 20px;
    position: relative;
    right: 36px;
    top: 4px;
}

.search-form {
    margin-top: 4%;
}

.search-btn-wrap {
    display: flex;
    flex-direction: row;
    align-items: center;
    justify-content: center;
    padding-top: 18px;
}

.search-btn {
    display: inline;
    background-color: #f8f9fa;
    border: 1px solid #f8f9fa;
    border-radius: 4px;
    color: #3c4043;
    margin: 11px 4px;
    padding: 0 16px;
    line-height: 27px;
    height: 36px;
    min-width: 54px;
    text-align: center;
    cursor: pointer;
}

input[type=button] + input[type=button] {
    margin-left: 8px;
}

.google-latino {
    font-size: 13px;
    color: #222222;
    line-height: 28px;
    margin-top: 13px;
    text-align: center;
}

#latino-link {
    color: #1A0DAB;
}

#footer {
    background-color: #f2f2f3;
    color:#70757a;
    width: 100%;
    padding-top: 15px;
    padding-bottom: 15px;
}

.footer-links {
    display: flex;
    flex-wrap: wrap;
    align-items: center;
    justify-content: space-between;
    padding: 0 20px; 
}

.footer-tags {
    color:#70757a;
}

#ads {
    padding-left: 30px;
}

#business {
    padding-left: 30px;
}

#how-search-works {
    padding-left: 30px;
}

#carbon-neutral {
    margin-left: auto;
}

#leaf {
    height: 14px;
    margin-right: 6px;
}

#privacy {
    margin-left: auto;
    padding-right: 20px;
}

#terms {
    padding-right: 30px;
}

#settings {
    padding-right: 30px;
}

@media only screen and (max-width: 1200px) {
    .footer-links {
        justify-content: space-evenly;
        flex-shrink: 0;
    }
}

@media only screen and (max-width: 1200px) {
    #carbon-neutral {
        order: -1;
        width: 100%;
        text-align: center;
        padding-bottom: 20px;
    }  
}